# Pipeline outputs & caches
.snakemake/
data/raw/*.fastq.gz
data/raw/*.fastq
data/trimmed/
data/reference/
salmon_quant/
alignments/
analysis/logs/
merged.*
*.stringtie.gtf
tx2gene.tsv
*.trimmed.fastq.gz
/output

# Tool reports
fastp.html
fastp.json

# Large intermediates
*.bam
*.bai
*.sam
*.log

# OS / editor
__pycache__/
.DS_Store
.ipynb_checkpoints/
.vscode/
.pytest_cache
